{%- liquid
  assign parent = false
  assign grandparent = false
  if link.levels == 1
    assign parent = true
  endif
  if link.levels == 2
    assign grandparent = true
  endif

  assign child_count = 0
  if grandparent
    assign child_count = link.links.size
    if child_count > 10
      assign child_count = 10
    endif
  endif

  assign index = index | append: ""
  for block in section.blocks
    if block.settings.position == index 
      assign grandparent = true
      if block.type == 'collection'
        assign child_count = child_count | plus: block.settings.limit
      else 
        assign child_count = child_count | plus: 1
      endif
    endif 
  endfor

  if parent or grandparent
    assign expands = true
    assign key = link.url | append: link.title | append: link.levels | md5 
  endif

  if parent and link.levels == 1
    assign child_count = child_count | plus: 1
  endif

  assign link_title_handle = link.title | handle
  assign highlight_links = 'general.header.highlight_links' | t | strip | split: ',' | join: '___' | handle | replace: '___-', '___' | replace: '-___', '___' | split: '___' 
-%}
{% capture classes %}{% if grandparent %} grandparent kids-{{ child_count }} {% elsif parent %} parent{% else %} child{% endif %}{% if link.active %} main-menu--active{% endif %}{% endcapture %}

<div class="menu__item {{ classes }}"
  data-main-menu-text-item
  {% if expands %} 
    aria-haspopup="true" 
    aria-expanded="false"
    data-hover-disclosure-toggle="dropdown-{{ key }}"
    aria-controls="dropdown-{{ key }}"
  {% endif %}>
  <a href="{{ link.url }}" data-top-link class="navlink navlink--toplevel{% if highlight_links contains link_title_handle %} highlight--link{% endif %}">
    <span class="navtext">{{ link.title | escape }}</span>
  </a>
  {% if expands %}
    <div class="header__dropdown"
      data-hover-disclosure
      id="dropdown-{{ key }}">
      <div class="header__dropdown__wrapper">
        <div class="header__dropdown__inner">
          {%- if grandparent -%}
          
            {% if link.levels == 2 %}
              {% for link in link.links %}
                <div class="dropdown__family">
                  {% assign link_title_handle = link.title | handle %}
                  <a href="{{ link.url }}" data-stagger-first class="navlink navlink--child{% if link.active %} main-menu--active{% endif %}{% if highlight_links contains link_title_handle %} highlight--link{% endif %}">
                    <span class="navtext">{{ link.title | escape }}</span>
                  </a>
                  {% for link in link.links %}
                    {% assign link_title_handle = link.title | handle %}
                    <a href="{{ link.url }}" data-stagger-second class="navlink navlink--grandchild{% if link.active %} main-menu--active{% endif %}{% if highlight_links contains link_title_handle %} highlight--link{% endif %}">
                      <span class="navtext">{{ link.title | escape }}</span>
                    </a>
                  {% endfor %}
                </div>
              {% endfor %}
            {% elsif link.levels == 1 %}
              <div class="dropdown__family">
                {% for link in link.links %}
                  {% assign link_title_handle = link.title | handle %}
                  <a href="{{ link.url }}" data-stagger class="navlink navlink--grandchild{% if link.active %} main-menu--active{% endif %}{% if highlight_links contains link_title_handle %} highlight--link{% endif %}">
                    <span class="navtext">{{ link.title | escape }}</span>
                  </a>
                {% endfor %}
              </div>
            {% endif %}

            {% for block in section.blocks %}
              {% comment %} Render block content {% endcomment %}
              {%- if block.settings.position == index -%}
                {% render 'header-block', block: block %}
              {%- endif -%}
            {% endfor %} 

          {%- else -%}
            {% comment %} Simple dropdown {% endcomment %}
            {% for link in link.links %}
              {% assign link_title_handle = link.title | handle %}
              <a href="{{ link.url }}" data-stagger class="navlink navlink--child{% if link.active %} main-menu--active{% endif %}{% if highlight_links contains link_title_handle %} highlight--link{% endif %}">
                <span class="navtext">{{ link.title | escape }}</span>
              </a>
            {% endfor %} 
          {%- endif -%}
        </div>
      </div>
    </div>
  {% endif %}
</div>
