<div class="wrapper product__align-left">
  <div class="grid product-single">
    <div class="grid__item product__media__wrapper medium-up--two-thirds">
      <div class="product__slides">
        <div class="product__media">
          {{ 'product-5' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      </div>
    </div>
    <div class="grid__item medium-up--one-third">
      <div class="product__details">
        <div class="product__headline">
          <h2 class="product__title">{{ 'home_page.onboarding.product_title' | t }}</h2>
          <div class="mt1">&nbsp;</div>
          <div class="product__price__wrap">
            <div class="product__price__main">
              <span class="product__price">
                <span>{{ '1999' | money }}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="mt1">&nbsp;</div>
        <div class="product__form__outer">
          <div class="product__submit__buttons">
            <button disabled class="btn--outline btn--large btn--full uppercase btn--add-to-cart" data-add-to-cart>
              <span>{{ 'products.product.add_to_cart' | t }}</span>
              <span>•</span>
              <span>{{ '1999' | money }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
