<!-- /snippets/pagination-custom.liquid -->
{% comment %}
  * This snippet renders a custom widget based on the current 'paginate' context,
  {% render 'pagination-custom', paginate: paginate %}
{% endcomment %}

<ul class="pagination-custom">
  {% if paginate.previous %}
    <li class="pagination-custom__arr">
      <a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}" {% if enable_ajax %}data-filter-update-url{% endif %}>{% render 'icon-arrow-small-left' %}</a>
    </li>
  {% else %}
    <li class="disabled pagination-custom__arr">
      <span>{% render 'icon-arrow-small-left' %}</span>
    </li>
  {% endif %}
   <li class="pagination-custom__spacer"><span>&#8203;</span></li>
  {% for part in paginate.parts %}
    {% if part.is_link %}
      <li class="pagination-custom__num">
        <a href="{{ part.url }}" title="" {% if enable_ajax %}data-filter-update-url{% endif %}>{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="pagination-custom__num active">
          <span>
            <span>
              {{ part.title }}
            </span>
          </span>
        </li>
      {% else %}
        <li class="pagination-custom__num pagination-custom__num--dots">
          <span>{{ part.title }}</span>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
   <li class="pagination-custom__spacer"><span>&#8203;</span></li>
  {% if paginate.next %}
    <li class="pagination-custom__arr">
      <a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}" {% if enable_ajax %}data-filter-update-url{% endif %}>{%- render 'icon-arrow-small-right' -%}</a>
    </li>
  {% else %}
    <li class="disabled pagination-custom__arr">
      <span>{%- render 'icon-arrow-small-right' -%}</span>
    </li>
  {% endif %}
</ul>
