<!-- /sections/page.liquid -->
{%- liquid
  assign kicker_line_class = ''
  if section.settings.title == blank
    assign kicker_line_class = 'kicker__line'
  endif

  assign animation_anchor = "[data-section-id='" | append: section.id | append: "']"
-%}

{% if section.settings.show_content or section.settings.kicker != blank or section.settings.show_title %}  
  <section class="page__template {{ section.settings.text_color }} {{ section.settings.height }} {{ section.settings.bg }}" data-section-id="{{ section.id }}" data-section-type="page">
    <div class="{{ section.settings.width }}">
      <div class="text__standard {{ section.settings.align_text }}">
        {% if section.settings.kicker != blank %}
          <p class="standard__kicker {{ kicker_line_class }}"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="1">
            {{ section.settings.kicker }}
          </p>
        {% endif %}
        {%- if section.settings.show_title -%}
          <h2 class="h2 standard__heading"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="2">
            {{ page.title }}
          </h2>
        {% endif %}
        {% if section.settings.show_content %}
          {% assign font_size_class = section.settings.text_size | plus: 1 | prepend: 'font--' %}
          <div class="rte standard__rte {{ font_size_class }}"
            data-aos="hero"
            data-aos-anchor="{{ animation_anchor }}"
            data-aos-order="3">
            <div class="rte">
              {{ page.content }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Page",
  "settings": [
    {
      "type": "text",
      "id": "kicker",
      "label": "Kicker"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show content",
      "default": true
    },
    {
      "type":  "range",
      "id":    "text_size",
      "label": "Text size",
      "min":    1,
      "max":    5,
      "step":   1,
      "default":2
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "text-left",
      "options": [
        { "value": "text-left","label": "Left" },
        { "value": "text-center","label": "Centered" },
        { "value": "text-right","label": "Right" }
      ]
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "default": "margin--small",
      "options": [
        { "value": "margin--large", "label": "Large" },
        { "value": "margin--medium", "label": "Medium" },
        { "value": "margin--small", "label": "Small" },
        { "value": "margin--zero", "label": "Natural" }
      ]
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--narrow", "label": "Narrow" },
        { "value": "wrapper", "label": "Wide" },
        { "value": "wrapper--full", "label": "Full width" }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text--neutral",
      "options": [
        { "value": "text--neutral", "label": "Normal text"},
        { "value": "text--white", "label": "White"},
        { "value": "text--primary", "label": "Primary accent"},
        { "value": "text--secondary", "label": "Secondary accent"},
        { "value": "text--black", "label": "Black"},
        { "value": "text--invert--primary", "label": "Primary dark accent"},
        { "value": "text--invert--secondary", "label": "Secondary dark accent"},
        { "value": "text--invert", "label": "Inverted text color"}
      ]
    },
    {
      "type": "select",
      "id": "bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        { "value": "palette--light bg--neutral", "label": "Default"},
        { "value": "palette--light bg--accent", "label": "Light"},
        { "value": "palette--dark bg--invert", "label": "Dark"},
        { "value": "palette--dark bg--invert--accent", "label": "Dark accent"}
      ]
    }
  ]
}
{% endschema %}
