<div class="homepage-logos {{ section.settings.bg }}{% if section.settings.title != blank %} homepage-logos--tall{% endif %}">
  <div class="wrapper">

    {% if section.settings.title != blank %}
      <h2 class="home__subtitle">{{ section.settings.title | escape }}</h2>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="logo-bar">
        {% for block in section.blocks %}
          <div class="logo-bar__item" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="logo-bar__link" target="_blank" rel="noopener">
            {% endif %}
            {% if block.settings.image != blank %}
              <div class="logo-bar__image lazy-image" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
                <img
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                  alt="{{ block.settings.image.alt | strip_html | escape }}"
                  src="{{ block.settings.image | img_url: '320x320' }}"
                  srcset="{% if block.settings.image.width >= 110 %}{{ block.settings.image | img_url: '110x' }} 110w,{% endif %}
                  {% if block.settings.image.width >= 160 %}{{ block.settings.image | img_url: '160x' }} 160w,{% endif %}
                  {% if block.settings.image.width >= 220 %}{{ block.settings.image | img_url: '220x' }} 220w,{% endif %}
                  {% if block.settings.image.width >= 320 %}{{ block.settings.image | img_url: '320x' }} 320w,{% endif %}
                  {% if block.settings.image.width >= 480 %}{{ block.settings.image | img_url: '480x' }} 480w{% endif %}"
                  sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"/>
              </div>
              <noscript>
                <img src="{{ block.settings.image | img_url: '160x' }}" alt="{{ block.settings.image.alt | default: block.settings.title | strip_html | escape }}"/>
              </noscript>
            {% else %}
              {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      <div class="text-center">{{ 'home_page.onboarding.no_content' | t }}</div>
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Logo list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      },
      {
        "type": "select",
        "id": "bg",
        "label": "Background color",
        "default": "palette--light bg--neutral",
        "options": [
          { "value": "palette--light bg--neutral", "label": "Default"},
          { "value": "palette--light bg--accent", "label": "Light"},
          { "value": "palette--dark bg--invert", "label": "Dark"},
          { "value": "palette--dark bg--invert--accent", "label": "Dark accent"}
        ]
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "640 x 640px .png recommended"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
